<ng-container
  *ngIf="{
    progress: progress$ | async,
    completed: completed$ | async
  } as values"
>
  <div
    class="message"
    *ngIf="
      !isUploadInProgress(progress) &&
      !isUploadWaitingToComplete(progress, completed) &&
      !completed
    "
  >
    <input #file type="file" multiple (change)="uploadFile($event)" />
  </div>

  <div
    class="message"
    *ngIf="isUploadWaitingToComplete(values.progress, values.completed)"
  >
    <div style="margin-bottom: 14px;">Uploading... Almost Complete...</div>
  </div>

  <div class="message" *ngIf="isUploadInProgress(values.progress)">
    <div style="margin-bottom: 14px;">Uploading... {{ values.progress }}%</div>
  </div>

  <div
    class="message"
    *ngIf="
      isUploadInProgress(values.progress) ||
      isUploadWaitingToComplete(values.progress, values.completed)
    "
  >
    <button (click)="cancelUpload()">Cancel Upload</button>
  </div>

  <div class="message" *ngIf="values.completed">
    <h4>
      File has been uploaded successfully!
    </h4>
    <button (click)="resetUpload()">Upload Another File</button>
  </div>
</ng-container>
